.filter{
    width:250px;
    margin-right: 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h3{
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        color: white;
    }
    select{
        height: 50%;
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;

    }
}

@media only screen and (max-width: 600px) {
    .filter{
        width: 100%;
        h3{
            font-size: 1.25rem;
        }
    }
  }