.card{
    height: 100%;
    width: 100%;
    background-color:white;

    
    
    h2{
      font-size: 1rem;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      width: 100%;
      height: 5%;
      text-align: center;
      background-color:white;
      
    }

    .rating{
      width: 100%;
      height: 5%;
      background-color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      p{ 
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;
        margin-right: 5px;
      }
      .star{
        width: 12px;
        height: 12px;
        margin-left:5px;
      }
    }
   
    
    .poster{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 400px;
      width: 275px;
      }
    }
  }